{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0",
    "title": "SMS API"
  },
  "tags": [{
    "name": "Customer",
    "description": "A customer registered to send SMS messages through our API",
    "externalDocs": {
      "description": "Find out more",
      "url": "https://swagger.io"
    }
  },
  {
    "name": "Message",
    "description": "SMS Message",
    "externalDocs": {
      "description": "Find out more",
      "url": "https://swagger.io"
    }
  }],
  "paths": {
    "/customers": {
      "get": {
        "operationId": "customers",
        "x-mojo-name": "get_customers",
        "x-mojo-to": "customer#list",
        "summary": "List all registered customers",
        "tags": ["Customer"],
        "responses": {
          "200": {
            "description": "Customers Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/customer": {
      "get": {
        "operationId": "customer",
        "x-mojo-name": "get_customer",
        "x-mojo-to": "customer#index",
        "summary": "Show a registered customer",
        "tags": ["Customer"],
        "responses": {
          "200": {
            "description": "Get Customer Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/messages": {
      "get": {
        "operationId": "messages",
        "x-mojo-name": "get_messages",
        "x-mojo-to": "message#list",
        "summary": "List messages for a registered customer",
        "tags": ["Message"],
        "responses": {
          "200": {
            "description": "Messages Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/message": {
      "get": {
        "operationId": "message",
        "x-mojo-name": "get_message",
        "x-mojo-to": "message#index",
        "summary": "Get one SMS message from a customer",
        "tags": ["Message"],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Message Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "operationId": "create_message",
        "x-mojo-name": "post_message",
        "x-mojo-to": "message#create",
        "summary": "Create a sms messages for a customer, queue message to AWS SQS for processing",
        "tags": ["Message"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create Message Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      } 
    }
  },
  "servers": [
    {
      "url": "https://api.nsurio.com/api/v1",
      "variables": {
        "protocol": {
          "default": "https"
        }
      }
    }
  ],
  "components": {
    "schemas": {
      "CreateMessage": {
        "type": "object",
        "required": ["message_body", "telephone_number"],
        "properties": {
          "message_body": {
            "type": "string"
          },
          "telephone_number": {
            "type": "string"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "message_body": {
            "type": "string"
          },
          "telephone_number": {
            "type": "string"
          },
          "customer_name": {
            "type": "string"
          },
          "message_status": {
            "type": "integer"
          },
          "customer_balance": {
            "type": "integer"
          },
          "customer_message_cost": {
            "type": "integer"
          },
          "customer_id": {
            "type": "integer"
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": ["message_body", "telephone_number"],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "balance": {
            "type": "integer"
          },
          "message_cost": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {      
        "type": "apiKey",
        "in": "header",       
        "name": "X-API-KEY"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "API key is missing or invalid",
        "headers": {
          "WWW_Authenticate": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]  
}